<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.reallyenglish.cordova.plugin.browser-media" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>BrowserMedia</name>

  <dependency id="org.apache.cordova.media"
    url='https://github.com/apache/cordova-plugin-media'
    commit="a8b6f9e41f1359f97e5a67b4c8d5cb7c71a7fab6" />

  <!-- Third party libraries -->
  <js-module name="underscorejs" src="www/lib/underscore-min-1.7.0.js">
    <runs/>
  </js-module>

  <!-- recording -->
  <asset src="www/lib/recorder.swf" target="scripts/recorder.swf" />
  <js-module name="MediaRecorder" src="www/lib/media-recorder.js">
    <runs/>
  </js-module>

  <!-- Plugin source code: Core -->

  <js-module name="BrowserMedia" src="www/BrowserMedia.js">
    <clobbers target="window.Media" />
  </js-module>

  <!-- browser -->
  <platform name="browser">
    <config-file target="config.xml" parent="/*">
      <feature name="Media">
        <param name="browser-package" value="Media" />
      </feature>
    </config-file>

    <js-module src="src/browser/MediaProxy.js" name="MediaProxy">
      <runs />
    </js-module>
  </platform>
</plugin>