<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.reallyenglish.cordova.plugin.browser-media" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>BrowserMedia</name>

  <dependency id="org.apache.cordova.media" version=">=0.2.14" />

  <!-- Third party libraries -->
  <js-module name="underscorejs" src="www/lib/underscore-min-1.7.0.js">
    <runs/>
  </js-module>

  <js-module name="jQuery" src="www/lib/jquery-2.1.3.min.js">
    <clobbers target="window.com.reallyenglish.cordova.plugin.browsermedia.lib.jQuery" />
    <runs/>
  </js-module>

  <js-module name="jPlayer" src="www/lib/jquery.jplayer.js">
    <runs/>
  </js-module>

  <!-- Plugin source code: Core -->

  <js-module name="BrowserMedia" src="www/BrowserMedia.js">
    <clobbers target="window.Media" />
  </js-module>

  <!-- browser -->
  <platform name="browser">
    <config-file target="config.xml" parent="/*">
      <feature name="Media">
        <param name="browser-package" value="Media" />
      </feature>
    </config-file>

    <js-module src="src/browser/MediaProxy.js" name="MediaProxy">
      <runs />
    </js-module>
  </platform>
</plugin>
